<header class="page-header">Recently Added</header>
<div>
    <% books.forEach(book=> { %>
        <a href="/books/<%= book.id %>">
            <img height="170" max-width="150" src="<%= book.coverImagePath %>" alt="">
        </a>

        <% }) %>
</div>